
<!--
   Code by Team A of Java3- 
  Rohan, Vidisha, Yash, Kunal, Shivam, Anmol
 -->
<footer class="text-center text-white" style="background-color: #1b54c6">
    <div class="container">
      <section class="mt-5">
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a  routerLink="/aboutus" routerLinkActive="active" class="text-white">About us</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href=""  routerLink="/contactus" routerLinkActive="active" class="text-white">Contact Us</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href=""  routerLink="/feedback" routerLinkActive="active" class="text-white">Feedback</a>
            </h6>
          </div>
        </div>
      </section>
      <hr class="my-5" />
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p><b>
              MediBliss references various companies within pages of our website. Any salesmarks, trademarks or registered
              trademarks
              are owned by Rohan Raj and do not represent an endorsement of MediBliss or our Marketplace
              partners
            </b>
            </p>
          </div>
        </div>
      </section>

      <!--
   Code by Team A of Java3- 
  Rohan, Vidisha, Yash, Kunal, Shivam, Anmol
 -->
      <section class="text-center mb-5">
        <a href="https://www.facebook.com/badshAh0811" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/Rohan18658403" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.hcltech.com/" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/rohan._._.raj/" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/rohan-raj-091b5322b/" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/rohan-rajj/E-medical" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
     <b> Copyright © 2022 MediBliss, LLC. All rights reserved.
      MediBliss is a registered trademark ® of Rohan Raj Interactive Services.</b>
    </div>
  </footer>
  <!--
   Code by Team A of Java3- 
  Rohan, Vidisha, Yash, Kunal, Shivam, Anmol
 -->