

<div class="container">
    <div class="row">
        <ng-container>
            <div *ngFor="let tempProduct of products" class="card col-md-3" style="width: 18rem;">
                <img src="{{ tempProduct.imageUrl}}" alt="">
                <h4 class="card-title"
                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"
                  >
                    {{ tempProduct.name}} </h4>
                <p class="card-text"
                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                    {{tempProduct.description}}</p>

                <p><strong><span style="color: red;"> Price : </span></strong><b> <span style="color: black;">  ₹<span style="color: blue;">{{tempProduct.unitPrice}}</span></span></b></p>

                <button  class="btn btn-warning"
                    (click)="addToCart(tempProduct)"><b>Add to cart</b></button>
                   
            </div>
        </ng-container>

    </div>
</div>
