
<!--
   Code by Team A of Java3- 
  Rohan, Vidisha, Yash, Kunal, Shivam, Anmol
 -->
 
 <marquee class="overlay" behavior="scroll" direction="left" scrollamount="6">
  <h6 >
  <span > We Have Not Activated this Service Yet. It will be activated soon. We're extremely sorry for the inconvinience and Thank You For Your Patience.
  </span>
</h6>
</marquee>

<div class="contact" style="background-color: #fff;">
   
      <div class="row d-flex justify-content-center align-items-center h-1000">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
                <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                    <h2>Contact Us</h2>
                    <h4>We would love to hear from you !</h4><br>
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p class="text-black">India, Russia, America</p>
                        </li>
        
                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+ 91 9572721845</p>
                        </li>
        
                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>TeamAofJava3@yourermail.com</p>
                        </li>
                    </ul>
                </div>
              </div>
 <!--
   Code by Team A of Java3- 
  Rohan, Vidisha, Yash, Kunal, Shivam, Anmol
 -->
              <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="fname">First Name:</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                      </div>
                    </div>
                    <br>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="lname">Last Name:</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                      </div>
                    </div>
                    <br>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Email:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                      </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Phone Number:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="email" placeholder="Enter mobile" name="email">
                        </div>
                      </div>
                      <br>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="comment">Your message:</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="comment" placeholder="Please type your message here" name="lname"></textarea>
                      </div>
                    </div>
                    <br>
                    <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                        <a class="btn btn-success" routerLink="/submitted" routerLinkActive="active">Submit</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--
   Code by Team A of Java3- 
  Rohan, Vidisha, Yash, Kunal, Shivam, Anmol
 -->